<!DOCTYPE html>
<html>
<head>
    <title>Demo thing</title>
    <link rel="stylesheet" type="text/css" href="../assets/b-admin-panel.css"/>
</head>
<body>

<ul class="b-admin-navigation">
    <li class="e-admin-nav-item">
        <a href="#" class="e-admin-nav-button">Some link</a>
    </li>

    <li class="e-admin-nav-item">
        <a href="#" class="e-admin-nav-button">Some link</a>
    </li>

    <li class="e-admin-nav-item">
        <a href="#" class="e-admin-nav-button">Some link</a>
        <ul>
            <li class="e-admin-nav-item">
                <a href="#" class="e-admin-nav-button">Some link</a>
            </li>

            <li class="e-admin-nav-item">
                <a href="#" class="e-admin-nav-button">Some link</a>
            </li>

            <li class="e-admin-nav-item">
                <a href="#" class="e-admin-nav-button">Some link</a>
            </li>

            <li class="e-admin-nav-item">
                <a href="#" class="e-admin-nav-button">Some link</a>
            </li>

            <li class="e-admin-nav-item">
                <a href="#" class="e-admin-nav-button">Some link</a>
            </li>

        </ul>
    </li>

    <li class="e-admin-nav-item">
        <a href="#" class="e-admin-nav-button">Some link</a>
    </li>

    <li class="e-admin-nav-item">
        <a href="#" class="e-admin-nav-button">Some link</a>
    </li>

    <li class="e-admin-nav-item">
        <a href="#" class="e-admin-nav-button">Some link</a>
    </li>

    <li class="e-admin-nav-item">
        <a href="#" class="e-admin-nav-button">Some link</a>
        <ul class="b-admin-sub-navigation">
            <li class="e-admin-nav-item">
                <a href="#" class="e-admin-nav-button">Some link</a>
            </li>

            <li class="e-admin-nav-item">
                <a href="#" class="e-admin-nav-button">Some link</a>
            </li>

            <li class="e-admin-nav-item">
                <a href="#" class="e-admin-nav-button">Some link</a>
            </li>

            <li class="e-admin-nav-item">
                <a href="#" class="e-admin-nav-button">Some link</a>
            </li>

            <li class="e-admin-nav-item">
                <a href="#" class="e-admin-nav-button">Some link</a>
            </li>

        </ul>
    </li>
</ul>
</body>
</html>