/* admin panel css */
.b-admin-panel * {
     margin: 0px;
     padding: 0px;
}

.b-admin-navigation {
     display: none;
     margin-top: 20px;
}

.b-admin-panel:hover .b-admin-navigation, .b-admin-panel:hover .e-admin-panel-header {
     display: block;
}

.b-admin-panel:hover {
     background: none repeat scroll 0% 0% #292D33;
     border-bottom-left-radius: 9px;
     font-family: Helvetica,Arial,sans-serif;
     font-size: 14px;
     font-weight: normal;
     padding-bottom: 9px;
     position: fixed;
     right: 0px;
     top: 0px;
     width: auto;
}

.e-admin-panel-header {
     color: white;
     display: none;
     font-size: 10px;
     font-weight: normal;
     padding: 7px 0px 0px 15px;
}

.e-admin-navigation-button {
     background: url("b-admin-panel_sprite_bg.png") no-repeat scroll -30px -88px transparent;
     display: block;
     height: 30px;
     position: absolute;
     right: 0px;
     text-indent: -9999px;
     top: 0px;
     width: 30px;
}

.b-admin-panel:hover .e-admin-navigation-button {
     background-position: 0px -58px;
}

.e-admin-nav-item {
     height: 29px;
     list-style: none outside none;
     width: 100%;
}

.e-admin-nav-button {
     -moz-transition: all 0.25s ease 0s ;
     background: url("b-admin-panel_sprite_bg.png") repeat-x scroll 0px 0px #292D33;
     border-bottom: 1px solid #262626;
     border-top: 1px solid #4D5158;
     color: rgba(255, 255, 255, 0.55) !important;
     display: block;
     height: 29px;
     line-height: 23px;
     padding-left: 5%;
     padding-right: 5%;
}

.e-admin-nav-button a{
color:#fff !important;
color: rgba(255, 255, 255, 0.75) !important;
text-decoration:none !important;
}

.e-admin-nav-button:hover a{
color: rgba(255, 255, 255, 1) !important;
}

.e-admin-nav-button:hover {
     background: url("b-admin-panel_sprite_bg.png") repeat-x scroll 0px 0px #658CFD;
     border-bottom: 1px solid #262626;
     border-top: 1px solid #7698FF;
     color: rgba(255, 255, 255, 0.75);
}

.e-admin-nav-item:hover .b-admin-sub-navigation, .e-admin-nav-item:hover ul {
     display: block;
}

.b-admin-sub-navigation, .e-admin-nav-item ul {
     display: none;
     left: -100%;
     position: relative;
     top: -31px;
}

.b-admin-sub-navigation li, .e-admin-nav-item ul li {
     border-right: 1px solid #4D5158;
}
